/* Using the fonts + background-color */
html,
body {
  background-color: #F6F4F4;
  font-family: 'Arla InterFace',
    Helvetica,
    Arial,
    sans-serif;
  font-size: 24px;
  height: 900vh;
}

#milkProduction {
  z-index: 5;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.arla-strong {
  font-family: 'ARLA STRONG',
    Helvetica,
    Arial,
    sans-serif;
}

h1 {
  color: #006A38;
  text-align: center;

}

p {
  font-size: 0.8em;
}



.menu>a>img {
  width: 50%;
}

.inaktiv-billede {
  opacity: 40%;
}

.menu {
  display: flex;
  justify-content: center;
  background: white;
  box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.19);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding-top: 10px;
  font-family: Arla InterFace;

}

/* Style the links inside the navigation bar */
.menu a {
  display: inline-block;
  color: #94C4AE;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 0.6em;
  margin-bottom: 2%;
}

.menu>.aktiv {
  font-weight: 700;
  font-style: normal;
  color: #28683E;
}

.menu>.aktiv-billede {
  color: #28683E;

}

canvas {
  max-width: 100%;

}

/* Radio buttons */


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2%;
}

.et,
.to,
.tre,
.fire,
.fem,
.seks {
  border-radius: 70px;
  margin-bottom: 2%;
  box-shadow: 1px 1px 13px 5px rgba(83, 83, 83, 0.1);
  text-align: center;
}

.et {
  grid-area: 1/1/2/2;

}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 3%;
  margin-right: 3%;

}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 25%;
  left: 6%;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;

}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #006A38;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}



/* Danmarks kort */
.ko-kort {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/*text under DK kort*/
.regionheader {
  text-align: left;
  margin: auto;
  margin-top: 2vh;
  font-size: 25px;
  width: 90%;
}

.regiontext {
  text-align: left;
  width: 90%;
  margin: auto;
  margin-top: 1vh;
  font-size: 15px;
}

/* Procent bars */
/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box
}

/*Bynavne overskrift over "skills baren" - nordjylland, sjælland osv.*/
.byer-overskrift{
  font-family: 'Arla InterFace';
}

/* Container for skill bars */
.barcontainer {
  width: 90%;
  /* size of bar */
  height: 2vh;
  background-color: #ddd;
  /* Grey background */
  border-radius: 50px;
  margin: auto;
  margin-bottom: 1vh;
}

.barflex {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
}

.skills {
  text-align: right;
  /* Right-align text */
  padding-top: 1px;
  /* Add top padding */
  padding-bottom: 1px;
  /* Add bottom padding */
  color: white;
  /* White text color */
  height: 2vh;
  border-radius: 50px;
}

.sjaelland {
  width: 30%;
  background-image: linear-gradient(to right, darkgreen, olivedrab);
}


.midtjylland {
  width: 62%;
  background-image: linear-gradient(to right, darkgreen, olivedrab);
}


.syddanmark {
  width: 19%;
  background-image: linear-gradient(to right, darkgreen, olivedrab);
}


.hovedstaden {
  width: 71%;
  background-image: linear-gradient(to right, darkgreen, olivedrab);
}


.nordjylland {
  width: 49%;
  background-image: linear-gradient(to right, darkgreen, olivedrab);
}

.sjaelland {
  width: 30%;
  background-image: linear-gradient(to right, darkgreen, olivedrab);
}


.midtjylland {
  width: 62%;
  background-image: linear-gradient(to right, darkgreen, olivedrab);
}


.syddanmark {
  width: 19%;
  background-image: linear-gradient(to right, darkgreen, olivedrab);
}


.hovedstaden {
  width: 71%;
  background-image: linear-gradient(to right, darkgreen, olivedrab);
}


.nordjylland {
  width: 49%;
  background-image: linear-gradient(to right, darkgreen, olivedrab);
}



/* Leaderboard */
.leaderboard-grid-yourfarm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: white;
  padding-top: 4%;
  border-radius: 40px 40px 40px 40px;
}


.leaderboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: white;
  padding-top: 4%;
}

.leaderboard-grid-start {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: white;
  padding-top: 4%;
  border-radius: 40px 40px 0px 0px;
}

.leaderboard-grid-slut {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: white;
  padding-top: 4%;
  border-radius: 0px 0px 40px 40px;
}




.leaderboard {
  box-shadow: 0px 1px 31px -8px rgba(0, 0, 0, 0.57);
  border-radius: 40px;

}

.your-farm-boks {
  box-shadow: 0px 1px 31px -8px rgba(0, 0, 0, 0.57);
  border-radius: 40px;

}

.nummer {
  grid-area: 1 / 1 / 3 / 2;
  text-align: center;
  font-size: 1.3em;

}

.farm-name {
  grid-area: 1 / 2 / 3 / 4;
  font-size: 1.1em;
  margin-top: 1.2%;
}

.co2-nummer {
  grid-area: 1 / 4 / 2 / 5;
  text-align: center;
  font-size: 1em;

}

.co2-nummer-tekst {
  grid-area: 2 / 4 / 3 / 5;
  font-size: 0.4em;
  text-align: center;
  margin-bottom: -1em;
}




/* ARLA FONTS */

@font-face {
  font-family: Arla InterFace;
  src: url(../fonts/ArlaInterFace-Light.woff2) format("woff2"),
    url(../fonts/ArlaInterFace-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Arla InterFace;
  src: url(../fonts/ArlaInterFace-Regular.woff2) format("woff2"),
    url(../fonts/ArlaInterFace-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Arla InterFace;
  src: url(../fonts/ArlaInterFace-Bold.woff2) format("woff2"),
    url(../fonts/ArlaInterFace-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: ARLA STRONG;
  src: url(../fonts/ARLASTRONG-Regular.woff2) format("woff2"),
    url(../fonts/ARLASTRONG-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}