/* Using the fonts + background-color */
html,
body {
  background-color: #F6F4F4;
  font-family: 'Arla InterFace',
    Helvetica,
    Arial,
    sans-serif;
  font-size: 24px;
  height: 100vh;
}

#milkProduction {
  z-index: 5;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.arla-strong {
  font-family: 'ARLA STRONG',
    Helvetica,
    Arial,
    sans-serif;
}

h1 {
  color: #006A38;
}


.menu>a>img {
  width: 50%;
}

.inaktiv-billede {
  opacity: 40%;
}

.menu {
  display: flex;
  justify-content: center;
  background: white;
  box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.19);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding-top: 10px;
  font-family: Arla InterFace;

}

/* Style the links inside the navigation bar */
.menu a {
  display: inline-block;
  color: #94C4AE;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 0.6em;
  margin-bottom: 2%;
}

.menu>.aktiv {
  font-weight: 700;
  font-style: normal;
  color: #28683E;
}

.menu>.aktiv-billede {
  color: #28683E;

}


/* ARLA FONTS */

@font-face {
  font-family: Arla InterFace;
  src: url(../fonts/ArlaInterFace-Light.woff2) format("woff2"),
    url(../fonts/ArlaInterFace-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Arla InterFace;
  src: url(../fonts/ArlaInterFace-Regular.woff2) format("woff2"),
    url(../fonts/ArlaInterFace-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Arla InterFace;
  src: url(../fonts/ArlaInterFace-Bold.woff2) format("woff2"),
    url(../fonts/ArlaInterFace-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: ARLA STRONG;
  src: url(../fonts/ARLASTRONG-Regular.woff2) format("woff2"),
    url(../fonts/ARLASTRONG-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}